/* Gutter sizing */
/* Colors */
/* fonts */
@media screen and (min-width: 992px) {
  /* line 5, ../../../sass/JBC/Display Templates/jbc-events.scss */
  #jbc-events {
    margin-right: -15px;
  }
}
/* line 9, ../../../sass/JBC/Display Templates/jbc-events.scss */
#jbc-events .title {
  text-align: center;
  font-size: 24px;
  margin: 15px;
}
/* line 13, ../../../sass/JBC/Display Templates/jbc-events.scss */
#jbc-events .title .one {
  font-weight: bold;
  text-transform: uppercase;
  color: #fdc82f;
}
/* line 18, ../../../sass/JBC/Display Templates/jbc-events.scss */
#jbc-events .title .two {
  text-decoration: underline;
  color: #382d24;
}
/* line 24, ../../../sass/JBC/Display Templates/jbc-events.scss */
#jbc-events ul#eventslist {
  padding: 0;
  background-color: #d39e81;
}
/* line 27, ../../../sass/JBC/Display Templates/jbc-events.scss */
#jbc-events ul#eventslist li {
  list-style: none;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  padding: 22px;
  border-bottom: 1px solid #fdc82f;
}
/* line 32, ../../../sass/JBC/Display Templates/jbc-events.scss */
#jbc-events ul#eventslist li div.date {
  float: left;
  width: 25%;
  color: #fdc82f;
}
/* line 36, ../../../sass/JBC/Display Templates/jbc-events.scss */
#jbc-events ul#eventslist li div.date div.day {
  font-size: 50px;
  line-height: 40px;
  margin-top: 15px;
}
/* line 41, ../../../sass/JBC/Display Templates/jbc-events.scss */
#jbc-events ul#eventslist li div.date div.month {
  text-transform: uppercase;
}
/* line 45, ../../../sass/JBC/Display Templates/jbc-events.scss */
#jbc-events ul#eventslist li .item {
  width: 75%;
  float: left;
}
/* line 50, ../../../sass/JBC/Display Templates/jbc-events.scss */
#jbc-events ul#eventslist li .item .item-header .item-title a, #jbc-events ul#eventslist li .item .item-header .item-title a:hover, #jbc-events ul#eventslist li .item .item-header .item-title a:visited {
  color: #382d24 !important;
  font-weight: bold;
  font-size: 16px;
  margin-right: 5px;
}
/* line 57, ../../../sass/JBC/Display Templates/jbc-events.scss */
#jbc-events ul#eventslist li .item .item-header .date {
  line-height: 26px;
}
/* line 61, ../../../sass/JBC/Display Templates/jbc-events.scss */
#jbc-events ul#eventslist li .item .intro {
  float: left;
}
/* line 66, ../../../sass/JBC/Display Templates/jbc-events.scss */
#jbc-events ul#eventslist li:last-child {
  border-bottom-width: 0px;
}
/* line 70, ../../../sass/JBC/Display Templates/jbc-events.scss */
#jbc-events ul#eventslist .active .item {
  background-color: #fef0c7;
  border-right: 2px #fdc82f solid;
}
/* line 76, ../../../sass/JBC/Display Templates/jbc-events.scss */
#jbc-events #eventsfooter {
  background-color: #fdc82f;
  padding: 5px;
  text-align: center;
  margin-top: 11px;
}
/* line 81, ../../../sass/JBC/Display Templates/jbc-events.scss */
#jbc-events #eventsfooter a:link, #jbc-events #eventsfooter a:hover, #jbc-events #eventsfooter a:visited {
  color: white !important;
}
/* line 84, ../../../sass/JBC/Display Templates/jbc-events.scss */
#jbc-events #eventsfooter a:hover {
  text-decoration: underline;
}
