/* Gutter sizing */
/* Colors */
/* fonts */
/* line 4, ../../../sass/JBC/Display Templates/jbc-divisionsoverview.scss */
.jbc-roundedtile {
  border: 1px #fdc82f solid;
  padding: 15px;
  margin-bottom: 30px;
  min-height: 350px;
  -webkit-border-top-left-radius: 15px;
  -moz-border-top-left-radius: 15px;
  -ms-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
  -moz-box-shadow: 3px 3px 16px 0px #bfac9c;
  -webkit-box-shadow: 3px 3px 16px 0px #bfac9c;
  box-shadow: 3px 3px 16px 0px #bfac9c;
}
/* line 11, ../../../sass/JBC/Display Templates/jbc-divisionsoverview.scss */
.jbc-roundedtile .title {
  background-color: #fdc82f;
  margin: -15px;
  padding: 10px;
  margin-bottom: 0;
  text-align: right;
  -webkit-border-top-left-radius: 13px;
  -moz-border-top-left-radius: 13px;
  -ms-border-top-left-radius: 13px;
  border-top-left-radius: 13px;
}
/* line 18, ../../../sass/JBC/Display Templates/jbc-divisionsoverview.scss */
.jbc-roundedtile .title h4 {
  margin: 0;
  color: white;
  margin-right: 15px;
  margin-top: 5px;
}
/* line 24, ../../../sass/JBC/Display Templates/jbc-divisionsoverview.scss */
.jbc-roundedtile .title * {
  float: right;
}
/* line 28, ../../../sass/JBC/Display Templates/jbc-divisionsoverview.scss */
.jbc-roundedtile p {
  padding: 15px;
}
