/* Gutter sizing */
$gutter: 15px;

/* Colors */
$grayscale: #F1F1F1;
$gray: #F1F1F1;
$background-gray:#f3f1f1;
$darkgray: #7c7a74;
$black: #382d24;

$yellow: #fdc82f;
$lyellow: #ffe18a;
$zalm: #d39e81;

$bodycolor: #382d24;

/* fonts */
$lato: "lato", "helvetica", "Arial";


