/* Bootstrap styling */
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap-compass";
@import "bootstrap-variables";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/* Variables & mixins */
@import "variables";
@import "mixins";

/* CGK Repsonsive Framework */
@import "general";
@import "cgk-responsive-framework";

/* JBC General styling */
@import "JBC/jbc-general";

/* TODO Local font gebruiken */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

/* Hide the Quick Launch */
#sideNavBox {
  display: none;
}

/* Content Styling */
#contentRow {
	.jbc-beehive-header{
		min-height:400px;
		background:url('/_catalogs/masterpage/JBC/IMG/beehivebackground.png');
		padding:$gutter;
		padding-top:$gutter*4;
		.jbc-knowledge-header{
			background-color:rgba(255,255,255,0.5);
			padding:$gutter;
			@include border-radius(2px);
		}
		
		.jbc-knowledge-links{
			margin-top:$gutter*2;
			a, a:visited{
				padding: $gutter;
				background-color:$bodycolor;
				color:$yellow;
				@include border-radius(2px);
			}
			a:after{
				content:" ••";
			}
		}
	}
	.jbc-beehive-content{
		padding:$gutter*2;
		*{
			text-align: center !important;
		}
		#SearchBox{
			float:inherit;
		}
	}
}