/* Bootstrap styling */
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap-compass";
@import "bootstrap-variables";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/* Variables & mixins */
@import "variables";
@import "mixins";

/* CGK Repsonsive Framework */
@import "general";
@import "cgk-responsive-framework";

/* JBC General styling */
@import "JBC/jbc-general";

/* TODO Local font gebruiken */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

body{
  .ms-core-overlay{
      background:url("https://jbcbe.sharepoint.com/_catalogs/masterpage/JBC/IMG/bg.png");
      background-repeat: repeat-x; 
      background-position-y:10px;
    }
    
    #pageTitle{
        display: none;
    }
    
    /* Content Styling */
    #contentRow {
        padding-top:0px;
        background-color:transparent;
       
        /* Hide the Quick Launch */
        #sideNavBox {
          display: none;
        }
        
        .ms-webpartzone-cell{
            margin-bottom:$gutter !important;
        }
        
        .jbc-content-row{
            background-color:white;
            padding-top:30px;
            .jbc-image-row{
                img{
                    @extend .img-responsive;
                }
            }
        }
        .jbc-header-row{
            text-align: center;
            a:link, a:hover, a:visited{
                color: white !important;
            }
            
            .jbc-knowledge-links{
                a:link, a:hover, a:visited{
                    color: $bodycolor !important;
                    background-color: white;
                    padding: 6px 20px 6px 20px;
                    @include border-radius(2px);
                    margin-left: 2px;
                    margin-right: 2px;
                    font-size:14px;
                    font-weight:bold;
				}

            }
        }
        .jbc-centered-row{
            background-color:white;
            img{
                @include resetmargin;
            } 
        }
        
        #jbc-footer{
            margin-top:0;
        }
    }
}