@import "variables";
@import "mixins";
@import "bootstrap-variables";

#jbc-events{
    @media screen and (min-width:$screen-md){
	   margin-right:-15px;
    }
	.title{
		text-align: center;
		font-size:24px;
		margin:$gutter;
		.one{
			font-weight: bold;
			text-transform: uppercase;
			color:$yellow;
		}
		.two{
			text-decoration: underline;
			color:$bodycolor;
		}
	}
    
	ul#eventslist{
		@include resetpadding;
		background-color: $zalm;
		li{
			list-style: none;
			@include transition(all, 1s, ease-in-out);
			padding:$gutter + 7px;
			border-bottom: 1px solid $yellow;
			div.date{
				float: left;
				width:25%;
				color:$yellow;
				div.day{
					font-size:50px;
					line-height:40px;
					margin-top:15px;
				}
				div.month{
					text-transform: uppercase;
				}
			}
			.item{
				width: 75%;
				float: left;
				.item-header{
					.item-title{
						a, a:hover, a:visited{
							color:$bodycolor !important;
							font-weight: bold;
							font-size:16px;
							margin-right:5px;
						}
					}
					.date{
						line-height:26px;
					}
				}
				.intro{
					float:left;
				}
			}
		}
		li:last-child{
			border-bottom-width: 0px;
		}
		.active{
			.item{
				background-color:lighten($yellow,30%);
				border-right: 2px $yellow solid;
			}
		}
	}
	#eventsfooter{
		background-color:$yellow;
		padding:5px;
		text-align: center;
        margin-top:11px;
		a:link, a:hover,a:visited{
			color:white !important;
		}
		a:hover{
			text-decoration: underline;
		}
	}
}
