@import "variables";
@import "mixins";

@import "bootstrap-variables";

#jbc-quicklinks{
	.title{
		text-align: center;
		font-size:24px;
		margin:$gutter;
		.one{
			font-weight: bold;
			text-transform: uppercase;
			color:$yellow;
		}
		.two{
			text-decoration: underline;
			color:$bodycolor;
		}
	}
	.list{
		.quicklink{
			padding:$gutter;
            
            // Sizing of the quick links for small desktop devices.
            @media screen and (min-width: $screen-md) and (max-width: $screen-lg) {
                padding-top:5px;
                padding-bottom:5px;      
            }
            
			border:1px solid $yellow;
			margin:$gutter 0 $gutter 0;
			font-size: 16px;
			@include border-radius(2px);
			background-color:white;
			a, a:link,a:visited{
				color:$bodycolor !important;
			}
			.image{
				margin-right:$gutter;;
			}
			
		}
		.quicklink:hover{
			background-color:$yellow;
			color:white !important;
			a, a:link, a:visited{
				color:white !important;
			}
			.arrow:before{
				color:white !important;
			}
		}
		.arrow:before{
			content:" > ";
			color:$bodycolor;
		}
		.arrow{
			float: right;	
		}
	}
}