
/* Import navigation styling */
@import "Navigation/jbc-collapsable-topnav";

body{
	font-family: $lato;
	.ms-core-overlay{
		background-color:$background-gray;
	}
	#s4-workspace{
		#s4-bodyContainer{	
			#s4-titlerow{
				/* Style the top row, set padding & height */
				min-height: 110px;
				/*@media screen and (max-width:$screen-sm){
					min-height:110px;
				}*/
				#titleAreaBox{
					@include resetmargin;
					display: block;
					margin-top:$gutter;
					#titleAreaRow{
						
						/* Center the site logo */
						/* Navigation container¨*/
						/* Search box div */
						display: block;
						#siteIcon{ 
							@extend .col-md-2;
							@include resetmargin;
							@include resetpadding;
							#DeltaSiteLogo {
							}
						}
						.ms-breadcrumb-box{
							@extend .col-md-8;
							.ms-breadcrumb-top{
								#DeltaTopNavigation {
								}
							}
							#pageTitle{
								@include resetmargin;
								@include resetpadding;
								font-size: 18px;
								padding-left: $gutter;
								margin-right:$gutter;						
								font-family: $lato;
							}
						}
					
						> div + div + div + div {
							@extend .col-md-2;
							@include resetpadding;
							padding-top:$gutter;
							#DeltaPlaceHolderSearchArea{
								width:100%;
								#searchInputBox{
									width:100%;
									.ms-srch-sb-border{
										border-color:$yellow;
										input{
											width:70%;
										}		
									}																	
								}
							}
						}
					}
				} 
			}
			
			/* Content Styling */
			#contentRow{
				padding-top: $gutter + 5px;
				
				/* Quick Launch */
				#sideNavBox{
					* {
						font-family: $lato;
					}
				}
				
				/* Web Parts */
				.ms-webpartzone-cell {
					margin: 0;
				}
				/* JBC Boxes */
				.jbc-box{
					padding-left:15px;
					padding-right:15px;
				}
				.jbc-graybox{
					@extend .jbc-box;
					background-color:$gray;
				}
				.jbc-yellowbox{
					@extend .jbc-box;
					background-color:$yellow;
				}
				.jbc-whitebox{
					@extend .jbc-box;
					background-color:white;
				}
			}
		}
	}
}